<section id="first">
  <div class="text-vcenter">
    <div class="row">
      <h3>
        ¡Compara seguros en un sólo lugar!
      </h3>
    </div> 
    <div class="row">
      <h5>un solo sitio web que te conecta con el mercado de seguros</h5>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a class="product-link" href="https://www.comparaonline.cl/seguro-automotriz"><h3>Seguro Automotriz</h3><i class="fa fa-angle-right"></i></a>

        <a class="product-link" href="https://www.comparaonline.cl/seguro-automotriz"><h3>Seguro Automotriz</h3><i class="fa fa-angle-right"></i></a>

        <a class="product-link" href="https://www.comparaonline.cl/seguro-automotriz"><h3>Seguro Automotriz</h3><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="white">
  <div class="text-vcenter">
    <div class="row">
      <h3 class="light-blue">
        ¿Como funciona comparador?
      </h3>
    </div>
  </div>
</section>

<section id="second">
  <div class="row second-row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <img src="/images/apple.png" alt="apple" height="250" width="300">
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae repudiandae, repellat error atque amet facilis impedit doloribus nam eaque similique dolorem, itaque sit beatae, aspernatur doloremque deleniti quis dicta officia.
      </p>
    </div>
  </div>
</section>

<section id="first">
  <div class="text-vcenter">
  </div>
</section>